<div class="heading">
    <h1>Authors</h1>
  </div>
  
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor='let author of authors'>
      <ul><img mat-card-image 
      [src] = 'author.imageUrl'
      [style.height.px] = 'imageHeight'
      [style.width.px] = 'imageWidth'
      [style.margin.px] = 'imageMargin'></ul>
      <mat-list role="list">
      <ul>{{ author.authorName }}</ul>
      <ul>{{ author.bookName }}</ul>
      <ul>{{ author.bookGenre }}</ul>
      <ul><button mat-button class="edit" (click)="updateAuthor(author)" style="background-color: #1E90FF;" *ngIf="_auth.loggedIn()">Edit</button></ul>
      <ul><button mat-button class="dlt" (click)="deleteAuthor(author)" style="background-color: #FF0000;" *ngIf="_auth.loggedIn()">Delete</button></ul>
      </mat-list>
    </mat-grid-tile>
  </mat-grid-list>
  
